In [295]:
import pandas as pd
import numpy as np

import datetime

import matplotlib.pyplot as plt
import seaborn as sns

In [296]:
train = pd.read_csv('train.csv')
print train.shape
train.head(1)

(10506, 12)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [297]:
train['Date'] = pd.to_datetime(train['Date'])

In [495]:
len(train['Date'].unique())

95

In [491]:
train['Date'][train['WnvPresent'] == 1]

0    9955
1     551
Name: WnvPresent, dtype: int64

In [494]:
train['Date'][train['WnvPresent'] == 1].unique()

array(['2007-07-18T00:00:00.000000000', '2007-07-25T00:00:00.000000000',
       '2007-08-01T00:00:00.000000000', '2007-08-02T00:00:00.000000000',
       '2007-08-07T00:00:00.000000000', '2007-08-08T00:00:00.000000000',
       '2007-08-09T00:00:00.000000000', '2007-08-15T00:00:00.000000000',
       '2007-08-16T00:00:00.000000000', '2007-08-17T00:00:00.000000000',
       '2007-08-21T00:00:00.000000000', '2007-08-22T00:00:00.000000000',
       '2007-08-24T00:00:00.000000000', '2007-08-28T00:00:00.000000000',
       '2007-09-04T00:00:00.000000000', '2007-09-05T00:00:00.000000000',
       '2007-09-06T00:00:00.000000000', '2007-09-12T00:00:00.000000000',
       '2007-09-19T00:00:00.000000000', '2007-09-24T00:00:00.000000000',
       '2007-10-04T00:00:00.000000000', '2009-07-24T00:00:00.000000000',
       '2009-07-27T00:00:00.000000000', '2009-07-31T00:00:00.000000000',
       '2009-08-13T00:00:00.000000000', '2009-08-25T00:00:00.000000000',
       '2009-09-03T00:00:00.000000000', '2009-09-14T00:00:00.000000000',
       '2009-09-25T00:00:00.000000000', '2011-07-25T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-12T00:00:00.000000000', '2011-08-19T00:00:00.000000000',
       '2011-08-26T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-09-02T00:00:00.000000000', '2011-09-12T00:00:00.000000000',
       '2011-09-16T00:00:00.000000000', '2011-09-23T00:00:00.000000000',
       '2013-06-28T00:00:00.000000000', '2013-07-12T00:00:00.000000000',
       '2013-07-19T00:00:00.000000000', '2013-07-25T00:00:00.000000000',
       '2013-08-01T00:00:00.000000000', '2013-08-08T00:00:00.000000000',
       '2013-08-15T00:00:00.000000000', '2013-08-22T00:00:00.000000000',
       '2013-08-29T00:00:00.000000000', '2013-09-06T00:00:00.000000000',
       '2013-09-12T00:00:00.000000000', '2013-09-19T00:00:00.000000000',
       '2013-09-26T00:00:00.000000000'], dtype='datetime64[ns]')

In [383]:
spray = pd.read_csv('spray.csv')
print spray.shape
spray.head()

(14835, 4)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [387]:
spray['Date'] = pd.to_datetime(spray['Date'])
len(spray['Date'].unique())

10

In [300]:
weather = pd.read_csv('weather.csv')
print weather.shape
weather.head()

(2944, 22)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [301]:
len(weather.Date.unique())

1472

In [302]:
weather['Date'] = pd.to_datetime(weather['Date'])
#weather['year'] = weather['Date'].apply(lambda x: x.year)
#weather['year'].value_counts()

In [303]:
len(weather.Date.unique())

1472

In [304]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [498]:
station_01 = weather[weather['Station']==1]
station_01 = station_01.drop(['Water1', 'CodeSum'], axis = 1)

In [499]:
station_01 = station_01.replace({'M': np.nan}, regex=True)
station_01 = station_01.replace({'T': np.nan}, regex=True)

In [500]:
station_01['Tavg'] = station_01['Tavg'].astype(int)

In [501]:
station_01 = station_01.convert_objects(convert_numeric=True)

/Users/jayecribb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [502]:
weather_pivot = pd.pivot_table(station_01, index = 'Date')

In [506]:
weather_pivot = pd.pivot_table(station_01, index = 'Date')
weather_pivot.columns
index = weather_pivot.index

In [507]:
weather_pivot = weather_pivot.fillna(method = 'ffill')

In [389]:
merged_train = train.merge(weather_imputed, on = 'Date')

In [390]:
merged_train.shape

(10506, 31)

In [316]:
merged_train.columns

Index([u'Date', u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy', u'NumMosquitos', u'WnvPresent', u'AvgSpeed',
       u'Cool', u'Depart', u'Depth', u'DewPoint', u'Heat', u'PrecipTotal',
       u'ResultDir', u'ResultSpeed', u'SeaLevel', u'SnowFall', u'Station',
       u'StnPressure', u'Sunrise', u'Sunset', u'Tavg', u'Tmax', u'Tmin',
       u'WetBulb'],
      dtype='object')

In [394]:
y_train = merged_train['WnvPresent']

In [333]:
X_train = merged_train.drop(['Address', u'Block', u'Street',
       u'AddressNumberAndStreet',
       u'AddressAccuracy', 'WnvPresent', 'Trap'], axis = 1)

In [334]:
X_train = pd.get_dummies(X_train, columns = ['Species'], drop_first=True)

In [335]:
y_train = merged_train['WnvPresent']

In [336]:
test = pd.read_csv('test.csv')
print test.shape
test['Date'] = pd.to_datetime(test['Date'])
test.head(1)

(116293, 11)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [337]:
merged_test = test.merge(weather_imputed, on = 'Date')

In [338]:
merged_test.shape

(116293, 30)

In [339]:
X_test = merged_test.drop(['Address', u'Block', u'Street',
       u'AddressNumberAndStreet',
       u'AddressAccuracy', 'Trap'], axis = 1)

In [340]:
X_test = pd.get_dummies(X_test, columns = ['Species'], drop_first=True)

In [342]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10506 entries, 0 to 10505
Data columns (total 29 columns):
Date                              10506 non-null datetime64[ns]
Latitude                          10506 non-null float64
Longitude                         10506 non-null float64
NumMosquitos                      10506 non-null int64
AvgSpeed                          10506 non-null float64
Cool                              10506 non-null float64
Depart                            10506 non-null float64
Depth                             10506 non-null float64
DewPoint                          10506 non-null float64
Heat                              10506 non-null float64
PrecipTotal                       10506 non-null float64
ResultDir                         10506 non-null float64
ResultSpeed                       10506 non-null float64
SeaLevel                          10506 non-null float64
SnowFall                          10506 non-null float64
Station                           10506 non-null float64
StnPressure                       10506 non-null float64
Sunrise                           10506 non-null float64
Sunset                            10506 non-null float64
Tavg                              10506 non-null float64
Tmax                              10506 non-null float64
Tmin                              10506 non-null float64
WetBulb                           10506 non-null float64
Species_CULEX PIPIENS             10506 non-null uint8
Species_CULEX PIPIENS/RESTUANS    10506 non-null uint8
Species_CULEX RESTUANS            10506 non-null uint8
Species_CULEX SALINARIUS          10506 non-null uint8
Species_CULEX TARSALIS            10506 non-null uint8
Species_CULEX TERRITANS           10506 non-null uint8
dtypes: datetime64[ns](1), float64(21), int64(1), uint8(6)
memory usage: 2.0 MB

In [351]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
scaled_train = sc.fit_transform(X_train.loc[:,'Latitude':])
scaled_test = sc.fit_transform(X_test.loc[:,'Latitude':])

In [376]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
model = rf.fit(scaled_train, y_train)
predictions = model.predict(scaled_test)

In [377]:
#from sklearn import naive_bayes

#nb = naive_bayes()
#model = nb.fit(scaled_train, y_train)
#predictions = model.predict(scaled_test)

In [353]:
len(predictions)

116293

In [378]:
results = pd.concat((pd.DataFrame(X_test['Id']), pd.DataFrame(predictions)), axis=1)
results.head()

   Id  0
0   1  0
1   2  0
2   3  0
3   4  0
4   5  0

In [379]:
results.columns = ['Id', 'WnvPresent']

In [467]:
X_train = merged_train.drop(['Address', u'Block', u'Street',u'AddressNumberAndStreet',u'AddressAccuracy', 
                             'WnvPresent', 'Trap',u'AvgSpeed',u'Cool', u'Depart', u'Depth',u'ResultDir', 
                             u'ResultSpeed', u'SeaLevel', u'SnowFall', u'Station', u'Sunrise', u'Sunset',
                            ], axis = 1)

X_test = merged_test.drop(['Address', u'Block', u'Street',u'AddressNumberAndStreet',u'AddressAccuracy', 
                              'Trap',u'AvgSpeed',u'Cool', u'Depart', u'Depth',u'ResultDir', 
                             u'ResultSpeed', u'SeaLevel', u'SnowFall', u'Station', u'Sunrise', u'Sunset',
                            ], axis = 1)

In [409]:
from datetime import timedelta

In [461]:
def number_of_days(date):
    spray_times = spray['Date'].unique()
    spray_delta = [(date - x).days for x in spray_times]
    after_spray =  0 if all(i < 0 for i in spray_delta) else min(i for i in spray_delta if i>0)
    
    if after_spray <= 0:
        return 0
    else:
        return np.exp(-after_spray)

In [468]:
X_train['spray_effect'] = X_train.Date.map(number_of_days)
X_test['spray_effect'] = X_test.Date.map(number_of_days)

In [469]:
X_train = pd.get_dummies(X_train, columns = ['Species'], drop_first=True)
X_test = pd.get_dummies(X_test, columns = ['Species'], drop_first=True)

In [470]:
X_train

,Date,Latitude,Longitude,NumMosquitos,DewPoint,Heat,PrecipTotal,StnPressure,Tavg,Tmax,Tmin,WetBulb,spray_effect,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS
0,2007-05-29,41.954690,-87.800991,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
1,2007-05-29,41.954690,-87.800991,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
2,2007-05-29,41.994991,-87.769279,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
3,2007-05-29,41.974089,-87.824812,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
4,2007-05-29,41.974089,-87.824812,4,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
5,2007-05-29,41.921600,-87.666455,2,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
6,2007-05-29,41.891118,-87.654491,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
7,2007-05-29,41.867108,-87.654224,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
8,2007-05-29,41.867108,-87.654224,2,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
9,2007-05-29,41.896282,-87.655232,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
10,2007-05-29,41.919343,-87.694259,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
11,2007-05-29,41.921965,-87.632085,2,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
12,2007-05-29,41.921965,-87.632085,3,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
13,2007-05-29,41.688324,-87.676709,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
14,2007-05-29,41.688324,-87.676709,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
15,2007-05-29,41.862292,-87.648860,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
16,2007-05-29,41.720848,-87.666014,3,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
17,2007-05-29,41.731922,-87.677512,5,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
18,2007-05-29,41.731922,-87.677512,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,1,0,0,0,0,0
19,2007-05-29,41.891126,-87.611560,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
20,2007-05-29,41.891126,-87.611560,2,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
21,2007-05-29,41.999129,-87.795585,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
22,2007-05-29,42.017430,-87.687769,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,1,0,0,0,0
23,2007-05-29,41.907645,-87.760886,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
24,2007-05-29,41.732984,-87.649642,1,58.0,0.0,0.00,29.39,74.0,88.0,60.0,65.0,0.000000e+00,0,0,1,0,0,0
25,2007-06-05,41.954690,-87.800991,3,48.0,9.0,0.42,29.10,56.0,64.0,47.0,51.0,0.000000e+00,0,1,0,0,0,0
26,2007-06-05,41.954690,-87.800991,5,48.0,9.0,0.42,29.10,56.0,64.0,47.0,51.0,0.000000e+00,0,0,1,0,0,0
27,2007-06-05,41.954690,-87.800991,1,48.0,9.0,0.42,29.10,56.0,64.0,47.0,51.0,0.000000e+00,1,0,0,0,0,0
28,2007-06-05,41.974089,-87.824812,1,48.0,9.0,0.42,29.10,56.0,64.0,47.0,51.0,0.000000e+00,0,1,0,0,0,0
29,2007-06-05,41.974089,-87.824812,2,48.0,9.0,0.42,29.10,56.0,64.0,47.0,51.0,0.000000e+00,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2013-09-26,41.750498,-87.605294,2,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10477,2013-09-26,41.750498,-87.605294,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,0,1,0,0,0
10478,2013-09-26,41.750498,-87.605294,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10479,2013-09-26,41.984809,-87.728492,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10480,2013-09-26,41.659112,-87.538693,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10481,2013-09-26,41.659112,-87.538693,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,0,1,0,0,0
10482,2013-09-26,41.659112,-87.538693,4,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10483,2013-09-26,41.992478,-87.862995,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,0,1,0,0,0
10484,2013-09-26,41.974689,-87.890615,39,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10485,2013-09-26,41.974689,-87.890615,4,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10486,2013-09-26,41.974689,-87.890615,16,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10487,2013-09-26,41.974689,-87.890615,9,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10488,2013-09-26,41.974689,-87.890615,11,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10489,2013-09-26,41.974689,-87.890615,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10490,2013-09-26,41.925198,-87.746381,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10491,2013-09-26,41.973845,-87.805059,11,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10492,2013-09-26,41.973845,-87.805059,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10493,2013-09-26,41.743402,-87.731435,3,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10494,2013-09-26,41.728495,-87.600963,7,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10495,2013-09-26,41.728495,-87.600963,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10496,2013-09-26,41.947227,-87.671457,3,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10497,2013-09-26,41.793818,-87.654234,8,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10498,2013-09-26,41.904194,-87.756155,13,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10499,2013-09-26,41.904194,-87.756155,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,1,0,0,0,0,0
10500,2013-09-26,41.951866,-87.725057,3,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10501,2013-09-26,41.763733,-87.742302,6,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10502,2013-09-26,41.987280,-87.666066,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10503,2013-09-26,41.912563,-87.668055,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10504,2013-09-26,42.009876,-87.807277,5,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0
10505,2013-09-26,41.776428,-87.627096,1,52.0,2.0,0.00,29.34,63.0,75.0,50.0,58.0,7.582560e-10,0,1,0,0,0,0

In [471]:
sc = StandardScaler()
scaled_train = sc.fit_transform(X_train.loc[:,'Latitude':])
scaled_test = sc.fit_transform(X_test.loc[:,'Latitude':])

In [512]:
from sklearn.feature_selection import SelectKBest

fs = SelectKBest(k = 8)
X_reduced = fs.fit_transform(X_train.loc[:,'Latitude':], y_train)
#print [X_train.columns[i] for i in np.argsort(model.coef_)[::-1]]

In [516]:
fs.get_support()

array([False, False,  True,  True, False, False, False,  True, False,
        True,  True,  True,  True, False,  True, False, False, False], dtype=bool)

In [481]:
rf = RandomForestClassifier(n_estimators=5)
model = rf.fit(scaled_train, y_train)
predictions = model.predict(scaled_test)

In [482]:
print sum(predictions)
print len(predictions)

307
116293

In [488]:
results = pd.concat((pd.DataFrame(X_test['Id']), pd.DataFrame(predictions)), axis=1)
results.head()
results.columns = ['Id', 'WnvPresent']

In [489]:
results.to_csv('kaggle1', index=False,  columns = ['Id', 'WnvPresent'])

In [490]:
pd.read_csv('kaggle1')

            Id  WnvPresent
0            1           0
1            2           0
2            3           0
3            4           0
4            5           0
5            6           0
6            7           0
7            8           0
8            9           0
9           10           0
10          11           0
11          12           0
12          13           0
13          14           0
14          15           0
15          16           0
16          17           0
17          18           0
18          19           0
19          20           0
20          21           0
21          22           0
22          23           0
23          24           0
24          25           0
25          26           0
26          27           0
27          28           0
28          29           0
29          30           0
...        ...         ...
116263  116264           0
116264  116265           0
116265  116266           0
116266  116267           0
116267  116268           0
116268  116269           0
116269  116270           0
116270  116271           0
116271  116272           0
116272  116273           0
116273  116274           0
116274  116275           0
116275  116276           0
116276  116277           0
116277  116278           0
116278  116279           0
116279  116280           0
116280  116281           0
116281  116282           0
116282  116283           0
116283  116284           0
116284  116285           0
116285  116286           0
116286  116287           0
116287  116288           0
116288  116289           0
116289  116290           0
116290  116291           0
116291  116292           0
116292  116293           0

[116293 rows x 2 columns]

In [382]:
from geopy.distance import vincenty
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

538.390445157